h1 {
    color: greenyellow;
    text-align: center;
}

.center {
    margin: auto;
    display: block; 
}

ul {
    font-size: 22px;
    color: green;
}

a:visited {
    color: green; 
}

a:hover {
    color: hotpink;
}

.description {
    background-color: red;
    color: white; 
}